#grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}

ol {
  border-right: 1px solid gray;
  width: 250px;
  margin-top: 0px;
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 0px;
  padding: 20px;
}

@media (max-width: 600px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
