.profile {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 40px;
  font-family: gulim;
  text-align: center;
  color: lightgreen;
}

p {
  font-size: 20px;
  text-align: center;
  color: lightskyblue;
}

#special {
  color: green;
}
